*{
    box-sizing: inherit;
}
body{
    background-color: rgb(77, 211, 231);
    color: rgb(94, 88, 88);
    font-family: system-ui;
    height: 300px;
    line-height: 1.5;
    margin: 0;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
}
h1 {
    margin-top: 50%;
    text-align: center;
}
.form_signin{
    margin-top: 5%;
    max-width: 300px;
    width: 100%;
}
div .container_form_username{
    margin: 8px;
}
div .container_form_password{
    margin: 8px;
}
i {
    margin-right: 5%;
}
input {
    border: 0;
    
}