<html>
	<head>
		<link rel="stylesheet" href="../styles/main.css" />
		<link rel="stylesheet" href="../styles/userprofile.css" />
		<title>REBBIT | <%= user_nickname %>'S PROFILE</title>
	</head>
	<body>
		<div class="sticky">
			<div class="header">
				<div>
					<img onclick="location.href='/'" src="../assets/rebbit1-removebg-preview.png" />
					<h2>REBBIT | <%= user_nickname %>'s PROFILE</h2>
				</div>
				<div>
					<button type="button" onclick="location.href='/authentication/logout'">Log Out</button>
				</div>
			</div>
			<div class="navigation">
				<button type="button" onclick="location.href='/my/profile'">My Account</button>
				<button type="button" onclick="location.href='/my/thread'">My Threads</button>
				<button type="button">My Replies</button>
			</div>
		</div>
		<div class="content">
			<div class="content-card">
				<h3>Profile</h3>
				<p>Username:</p>
				<p>Account's age:</p>
			</div>
			<div class="content-card">
				<h3>Account Statistic</h3>
				<p>Number of threads:</p>
				<p>Number of replies:</p>
			</div>
		</div>
	</body>
</html>
