<html>
	<head>
		<%- include("./part_config.ejs") %>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	</head>
	<body>
		<div class="sticky">
			<%- include("./part_header.ejs") %>
		</div>
		<div class="content">
			<%- include("./part_list_reply.ejs") %>
		</div>
	</body>
</html>
