<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../styles/thread.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <title>Thread | Rebbit</title>
</head>
<header>
    <div class="head">
        <h2>[[Username]]</h2>
        <img src="../assets/rebbit1-removebg-preview.png" />
    </div>
    <div class="category">
        <button>Entertainement</button>
        <button>Sports</button>
        <button>Hobby</button>
        <button>Technology</button>
        <button>Food and Travel</button>
        <button>Fashion</button>
    </div>
</header>
<body class="thread-body">
    <div class="content">
        <div class="thread-title">
            <h1>Thread Title Rebbit</h1>
        </div>
        <div class="thread-content">
            <p>Thread written here..........</p>
        </div>
    </div>
</body>

</html>