<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/thread.css" />
    <title>Thread | Rebbit</title>
</head>
<header>
    <div class="head">
        <h2>[[Username]]</h2>
        <img src="../assets/rebbit1-removebg-preview.png" />
    </div>
    <div class="category">
        <button>Entertainement</button>
        <button>Sports</button>
        <button>Hobby</button>
        <button>Technology</button>
        <button>Food and Travel</button>
        <button>Fashion</button>
    </div>
</header>
<body class="thread-body">
    <div class="content">
        <div class="thread-title">
            <h1><%= queryAllThisThreadContent[0].title %></h1>
        </div>
        <% for (const row of queryAllThisThreadContent) { %>
        <div class="thread-content">
            <p><%= row.thread_content %></p>
        </div>
        <% } %>
    </div>
</body>

</html>