<html>
    <head>
        <title>[[Username]]'s Profile</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../styles/userprofile.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        />
    </head>
    <body class="userprofile-body">
        <div class="header">
            <h2>[[Username]]</h2>
            <img src="../assets/rebbit1-removebg-preview.png" />
        </div>
        <div class="navigation">
            <div class="navigation-left">
                <button>My Threads</button>
                <button>My Replies</button>
            </div>
            <div class="navigation-right">
                <button>Profile</button>
                <button>Log Out</button>
            </div>
        </div>
        <div class="content">
            <div class="content-card">
                <h3>Profile</h3>
                <p>Username:</p>
                <p>Account's age:</p>
            </div>
            <div class="content-card">
                <h3>Account Statistic</h3>
                <p>Number of threads:</p>
                <p>Number of replies:</p>
            </div>
        </div>
    </body>
</html>
