.head {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(86, 86, 86);
    color: lightgray;
    padding-left: 1%;
    padding-right: 1%;
}

img{
    width:60px;
    height:60px;
}
.category{
    background-color: lightgrey;
    padding: 5pt;
}

.category button{
    background-color: white;
    color:black;
    border-color: white;
    border-radius: 30pt;
    border-style: solid;
    padding: 10px;
    margin-left: 0.35%;
    margin-right: 0.35%;
    margin-bottom: 5px;
    width: 150px;
}

.home-body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-rows: 10% 5% auto; /* header naviagtion content */
    font-family: system-ui;
    color: rgb(86, 86, 86);
    background-color: lightskyblue;
}

.write-thread-box{
    grid-row:8;
    background-color: #CBF6FF;
    display:grid;
    margin: 40px;
    border-radius: 20px;
    height: 190px;
}

.write-thread-box input{
    grid-row:1;
    border-radius: 10px;
    height: 100px;
    width: 96%;
    border: none;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.navigation Button{
    grid-row:2;
    width: 100px;
    background-color: white;
    color:black;
    border-color: white;
    border-radius: 40pt;
    border-style: solid;
    padding: 10px;
    display: inline-block;
    margin-left: 50px;
}

.navigation select{
    background-color: white;
    border-color: white;
    border-radius: 40pt;
    padding: 10px;
    margin-left: 30px;
}

.thread-card{
    grid-row:9;
    display: flexbox;
    margin:40px;
    transition: 0.3s;
    padding:10px;
    width: 50%;
}

.container{
    float:left;
    width: 100%;
}

.content-card .container{
    padding:10px;
    margin:10px;
    background-color: #CBF6FF;
}

.thread-title{
    display:flex;
    justify-content: center;
}
.thread-content{
    background: white;
    height:80px;
    padding: 10px;
}