.thread-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	background-color: #cbf6ff;
	border-radius: 20px;
	padding:10px;
}
.thread-form * {
	margin: 5px;
}
.thread-form input {
	width:100%;
	border: none;
	border-radius: 10px;
	padding: 15px;
}
.thread-form textarea {
	font-family: system-ui;
	width:100%;
	height:75px;
	border: none;
	border-radius: 10px;
	padding: 15px;
}

.thread-card {
	grid-row: 9;
	display: flexbox;
	margin: 40px;
	transition: 0.3s;
	padding: 10px;
	width: 50%;
}

.container {
	float: left;
	width: 100%;
}

.content-card .container {
	padding: 10px;
	margin: 10px;
	background-color: #cbf6ff;
}

.thread-title {
	display: flex;
	justify-content: center;
}
.thread-content {
	background: white;
	height: 80px;
	padding: 10px;
}
